<!DOCTYPE html>
<html>
  <head>
    <title>FirstAttempt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_typescript_tag 'application.tsx', defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
